body {
	margin: 0;
	
}
*{
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
	width: 100vw;
	height: ;
	position: fixed;
	background-color: whitesmoke ;
	border: 2px solid black;
	
	
}
#main {
	width: 98,5vw;
	height: ;
	background-image: url(../Foto/Fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid black;

}
.Arriba {
	border: 5px solid whitesmoke	;
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.Intro{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}
h1 {
	color: yellow;
	font-size: 5vw ;
	text-align: center;
	font-family: "Times New Roman"
}
h4 {
	text-align: center;
	font-family: "Times New Roman"
}
h2 {
	text-align: center;
	color: black;
	font-family: "Times New Roman"
}
h3.fondo{
	background-color: rgba(0,0,0,0.4);
}
h3 {
	text-align: center;
	font-weight: bold;
	color: greenyellow;
	font-family: "Times New Roman"
}
a {
	background:lightblue;
	text-decoration: none;
	color: black;
}
th {
	background-color: transparent;
	border: 3px solid black;

}
.zoom:hover {
	transform: scale(1.5); 
	.zoom:hover;
}

p {
	color: blue;
	font-family: "Times New Roman"
}
.scroll
{
     overflow-x:scroll;
     overflow-y:hidden;
}